body {
    overscroll-behavior-y: none;
}
#logo img {
    width: 100px;
}
.features-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.features-carousel .owl-dot {
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127,127,127,0.5);
    margin-left: 5px;
    margin-right: 5px;
}


.features-carousel .owl-dot.active {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0px 25px 0px 0px;
    background: #3bacf0;
}

.features-carousel span{

    display: inline-block;
    width: 45%;
}

#header.header-scrolled{
    padding: 6px 0;
    background-color:rgba(255, 255, 255, 1);
    color:gray !important;
}
#header.header-scrolled a{
    color:gray !important;
    font-size: 12px;
}

#header.header-scrolled .ticker-btn{
    color:white !important;
}

.group-logo-images {
    width: 70% !important;
}

.footer-area{
    padding-bottom: 70px;
}

.map{
    height: calc(100vh - 46px);
    width: 100%;
    margin: 0;
    margin-bottom: -6px;
    padding: 0;
    filter: grayscale(30%);
}